section{
    font-family: "Quicksand", sans-serif;
}

::ng-deep .ant-table-thead > tr> th {
    color: #6E6893;
    font-size: 12px;
     font-weight: bold;
}


::ng-deep .ant-table-tbody > tr> td {
    font-size: 13px;
    font-weight: 500;
}

button:disabled {
  background: #c2c0c0 !important; 
  cursor: not-allowed !important;
  opacity: 0.8;
}

button:disabled.bg-gradient-to-r {
  background-image: none !important;
}