/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.quicksand-uniquifier {
  font-family: "Quicksand", sans-serif;
  // font-optical-sizing: auto;
  font-style: normal;
}


.ant-modal-content {
  border-radius: 5px !important;
}

.ant-modal-header {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}


.ant-modal-footer {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.ant-modal-close:hover {
  color: #ff4d4f !important; 
}

.ant-modal-close:hover .ant-modal-close-x {
  color: #ff0000 !important;
}
